## uncomment these lines to set env variables
## No need to uncomment them unless you want to change them

# NODE_ENV=dev

# The port to run the app on
# PORT=3000

# DB_USER=db_user
# DB_PASSWORD=password

# DB_NAME=clearn
# DB_HOST=localhost
# DB_PORT=5432
